<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <a class="item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Contact
    </a>
  </div>
</div>